.header {
    background-color: yellow;
}

#container-nav-logo {
    justify-content: space-between;
}

nav,
nav>div {
    padding: 10px;
    font-size: 12px;
    line-height: 60px;
}

.logo {
    max-width: 60px;
}